[submodule "Highly_Experimental"]
	path = Highly_Experimental
	url = https://gitlab.com/kode54/Highly_Experimental.git
[submodule "Highly_Quixotic"]
	path = Highly_Quixotic
	url = https://gitlab.com/kode54/Highly_Quixotic.git
[submodule "Highly_Theoretical"]
	path = Highly_Theoretical
	url = https://gitlab.com/kode54/Highly_Theoretical.git
[submodule "lazyusf2"]
	path = lazyusf2
	url = https://gitlab.com/kode54/lazyusf2.git
[submodule "mGBA"]
	path = mGBA
	url = https://gitlab.com/kode54/mgba.git
[submodule "psflib"]
	path = psflib
	url = https://gitlab.com/kode54/psflib.git
[submodule "vio2sf"]
	path = vio2sf
	url = https://gitlab.com/kode54/vio2sf.git
